:root {
  --clr-neon: hs1(317, 100%, 54%);
  --clr-bg: hs1(323, 21%, 16%);
}

body {
  background: linear-gradient(to right, rgb(255, 79, 214), rgb(145, 55, 255));
  color: var(--clr-neon);
}

.wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 5rem;
  color: #ebeaea;
}

.dice-area {
  margin: 67px 278px;
  text-align: center;
  display: inline-block;
}

p {
  font-size: 2.5rem;
  color: #ebeaea;
}

img {
  width: 200px;
}

.refresh {
  position: absolute;
  top: 90%;
  left: 45%;
  background-color: #65a6e7;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.neon-button {
  font-size: 1.5rem;
  position: absolute;
  top: 90%;
  left: 45%;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-neon);
  /* border: var(--clr-neon) 0.125em solid; */
  padding: 0.25em 1em;
  background-color: #ebeaea;
  border-radius: 5px;
  /* text-shadow: 0 0 0.125em; */
}
